body {
    /* background-color: rgba(0,183,255, 1) !important; */
    background-image: url("https://i.pinimg.com/736x/04/34/89/043489e7922dabf9902965b964ca04a5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}